<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Glédyson Ferreira">
    <meta name="description" content="Plataforma que registra os livros da Biblioteca">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/9ef8375e57.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">

    {% block title %}<title>Biblioteca | Index</title>{% endblock %}
</head>
<body>
    <div class='container-fluid' id="container-fluid">
        <div class="content">
            <nav class='navbar navbar-inverse'>

                <div class="container-fluid" id="nav-container">

                    
                    <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-book-reader"> Biblioteca Local</i></a>
                    </div>
                    {% block sidebar %}
                    <ul class='nav navbar-nav'>
                        <li><a href="{% url 'livros' %}">Todos os livros</a></li>
                        <li><a href="{% url 'autores' %}">Todos os autores</a></li>
                        <li><a href="{% if user.is_authenticated %}{% url 'meus-emprestados' %}{% else %}{% url 'login' %}?next={% url 'meus-emprestados' %}{% endif %}">Meus empréstimos</a></li>
                        <li><a href="{% if user.is_authenticated %}{% url 'todos-emprestados' %}{% else %}{% url 'login' %}?next={% url 'todos-emprestados' %}{% endif %}">Livros emprestados</a></li>
                        <li><a href="{% if user.is_authenticated %}{% url 'ferramentas' %}{% else %}{% url 'login' %}?next={% url 'ferramentas' %}{% endif %}">Ferramentas Administrativas</a></li>
                    </ul>
                    {% endblock %}

                    {% if user.is_authenticated == False %}
                    <div class="login-button">
                        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                    </div>
                    {% else %}
                    <div class="logged-username">
                        <span><a href="{% url 'meus-emprestados' %}">{{ user.get_username }}</a></span>
                    
                        <div class="logout-panel">
                            <a href="{% url 'logout' %}?next={{request.path}}"><i class="fas fa-sign-out-alt"> Sair</i></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>

            <div class="panel panel-default">
                <div class='col-sm-12'>
                    {% block content %}
                    {% endblock %}

                    {% block pagination %}
                        {% if is_paginated %}
                            <div class="pagination">
                                <span class="page-links">
                                    {% if page_obj.has_previous %}
                                        <button type="button" class="btn-primary"><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a></button>
                                    {% endif %}

                                    <span class="page-current">
                                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <button type="button" class="btn-primary"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Próximo</a></button>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <div class="copyright">&copy;2019 - Todos os direitos reservados</div>
        </footer>
    </div>
    
</body>
</html>